<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Memory Simulator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #F8EFF7;
            font-size: 0.9rem;
        }
        .header {
            background-color: #cdb4db;
            color: white;
            padding: 5px 0;
            text-align: center;
        }
        .card-body {
            background-color: #ffafcc;
            color: white;
            padding: 5px 15px;
        }
        .card-header {
            background-color: #cdb4db;
            color: white;
            padding: 5px 15px;
        }
        .btn-custom {
            background-color: #F8EFF7;
            color: #cdb4db;
            border: none;
            padding: 6px 12px;
        }
        .btn-custom:hover {
            background-color: #A88CA4;
        }
        .form-control {
            border-radius: 0.375rem;
            margin-bottom: 0.5rem;
            background-color: #ffe5ec;
            color: #A88CA4;
            font-size: 0.9rem;
        }
        .container {
            margin-top: 20px;
        }
        .result-list li {
            font-size: 1rem;
            margin-bottom: 0.4rem;
            background-color: #ffe5ec;
            color: #A88CA4;
        }
        .icon {
            font-size: 18px;
            margin-right: 10px;
        }
        .computed-size {
            font-size: 1rem;
            font-weight: normal;
            align-self: center;
            margin-left: 1rem;
        }
        .form-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
        }
        .form-group {
            width: 45%;
        }
        .result-list li span {
            font-weight: bold;
        }
        .row {
            display: flex;
        }
        .col-md-4 {
            margin-bottom: 20px;
        }
        .table {
            table-layout: auto;
            width: 100%;
            white-space: nowrap;
        }
        .table thead th {
            text-align: center;
            padding: 5px 15px;
        }
        .table td, .table th {
            padding: 0.5rem;
            text-align: center;
            color: white;
            overflow: hidden;
        }
        .card-body {
            overflow-x: auto; /* Enables horizontal scrolling if table overflows */
            overflow-y: auto;
            max-height: 490px;
        }
        .highlight-tlb {
            background-color: #ff6b6b !important;
            color: white !important;
            transition: all 0.3s ease;
            opacity: 1 !important;
            z-index: 100 !important;
        }

        .highlight-pagetable {
            background-color: #4ecdc4 !important;
            color: white !important;
            transition: all 0.3s ease;
            opacity: 1 !important;
            z-index: 100 !important;
        }

        .highlight-memory {
            background-color: #a60543 !important;
            color: white !important;
            transition: all 0.3s ease;
            opacity: 1 !important;
            z-index: 100 !important;
        }
    </style>
</head>
<body>
<div class="header"> <h1>Virtual Memory Simulator</h1></div>
<div class="container">
    <div class="row">
        <!-- Configuration Form Column -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-header"> <h4>System Parameters Configuration</h4> </div>
                <div class="card-body">
                    <form id="configForm" action="/configure" method="post">
                        <div class="form-row">
                            <div class="form-group">
                                <label for="virtualAddressWidth">Virtual Address Width (bits):</label>
                                <input type="number" class="form-control" id="virtualAddressWidth" name="virtualAddressWidth" min="1" placeholder="Enter virtual address width"  th:value="${virtualAddressWidth}" required>
                            </div>
                            <div class="form-group">
                                <label for="physicalMemorySize">Physical Memory Size (bytes):</label>
                                <input type="number" class="form-control" id="physicalMemorySize" min="1" placeholder="Enter main memory size"  name="physicalMemorySize" th:value="${physicalMemorySize}" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="pageSize">Page Size (bytes):</label>
                                <input type="number" class="form-control" id="pageSize" name="pageSize" min="1" placeholder="Enter page size" th:value="${pageSize}" required>
                            </div>
                            <div class="form-group">
                                <label for="tlbSize">TLB Size (entries):</label>
                                <input type="number" class="form-control" id="tlbSize" min="1" placeholder="Enter tlb size" name="tlbSize" th:value="${tlbSize}" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="replacementAlgorithm">Replacement Algorithm:</label>
                                <select class="form-control" id="replacementAlgorithm" name="replacementAlgorithm" required>
                                    <option value="FIFO" th:selected="${replacementAlgorithm == 'FIFO'}">FIFO (First In, First Out)</option>
                                    <option value="LRU" th:selected="${replacementAlgorithm == 'LRU'}">LRU (Least Recently Used)</option>
                                    <option value="NRU" th:selected="${replacementAlgorithm == 'NRU'}">NRU (Not Recently Used)</option>
                                    <option value="Optimal" th:selected="${replacementAlgorithm == 'Optimal'}">Optimal</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="secondaryMemorySize">Disk Size (bytes):</label>
                                <input type="number" class="form-control" id="secondaryMemorySize" min="1" placeholder="Enter disk size" name="secondaryMemorySize" th:value="${secondaryMemorySize}" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="computed-size">
                                <p>Virtual Memory Size: <span id="virtualMemorySize" th:text="${virtualMemorySize}">0</span> bytes</p>
                                <p>Page Table Size: <span id="pageTableSize" th:text="${pageTableSize}">0</span> entries</p>
                            </div>
                        </div>
                        <button type="submit" formaction="/configure" class="btn btn-custom"><i class="fa fa-cogs icon"></i> Configure</button>
                        <button type="submit" formaction="/reset" class="btn btn-custom"><i class="fa fa-refresh icon"></i> Reset</button>
                    </form>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="d-flex justify-content-start align-items-center gap-3">
                                <form id="loadConfig" action="/loadConfig" method="get" class="d-flex align-items-center">
                                    <div class="form-group me-2">
                                        <label for="configFile">Configuration: </label>
                                        <select name="configFile" id="configFile" class="form-control">
                                            <option value="none" selected>No Configuration</option>
                                            <option th:each="config : ${configFiles}" th:value="${config}" th:text="${config}"></option>
                                        </select>
                                    </div>
                                    <button type="submit" formaction="/loadConfig" class="btn btn-custom btn-sm">
                                        <i class="fa fa-upload me-2"></i>Load Configuration
                                    </button>
                                </form>
                                <form action="/nextOperation" method="get" class="d-flex align-items-center">
                                    <!-- Hidden input fields or rendered data from the server -->
                                    <input type="hidden" id="highlightVpn" th:value="${highlightVpn}">
                                    <input type="hidden" id="operationType" th:value="${operationType}">
                                    <input type="hidden" id="highlightAddress" th:value="${highlightAddress}">
                                    <input type="hidden" id="highlightOffset" th:value="${highlightOffset}">

                                    <button id="nextStepBtn" type="submit" class="btn btn-custom btn-sm" onclick="executeNextStep()">
                                        <i class="fa fa-play me-2"></i>Execute Next Operation
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Simulation Results Column -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-header"><h4>Simulation Results</h4></div>
                <div class="card-body">
                    <ul class="list-group result-list">
                        <li class="list-group-item">TLB Hit Rate: <span th:text="${tlbHit}"></span></li>
                        <li class="list-group-item">TLB Miss Rate: <span th:text="${tlbMiss}"></span></li>
                        <li class="list-group-item">Page Table Hit Rate: <span th:text="${pageTableHit}"></span></li>
                        <li class="list-group-item">Page Table Miss Rate: <span th:text="${pageTableMiss}"></span></li>
                        <li class="list-group-item">Disk Reads: <span th:text="${diskRead}"></span></li>
                        <li class="list-group-item">Disk Writes: <span th:text="${diskWrite}"></span></li>
                        <li class="list-group-item">Pages Evicted: <span th:text="${pageEviction}"></span></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header"><h4>Simulation Messages</h4></div>
                <div class="card-body">
                    <div id="simulationMessages" style="background-color: #ffe5ec; color: #A88CA4; padding: 10px; height: 285px; overflow-y: auto; border: 1px solid #cdb4db; border-radius: 0.375rem;">
                        <ul class="list-group result-list" id="simulationMessagesList">
                            <li th:each="message : ${logMessages}" class="list-group-item" th:text="${message}"></li>
                        </ul>
                    </div>
                    <form action="/clearMessages" method="post">
                        <button type="submit" class="btn btn-custom" style="margin-top: 10px;">
                            <i class="fa fa-trash icon"></i> Clear Messages
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <!-- Store and Load Address Column -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-header"><h4>Store and Load Address</h4></div>
                <div class="card-body">
                    <form action="/allocate" method="post">
                        <div class="form-group">
                            <label for="allocatePage">Allocate Virtual Page at VPN:</label>
                            <input type="number" class="form-control" id="allocatePage" name="allocatePage" placeholder="Enter page number" th:value="${allocatePage}" min="0" required>
                        </div>
                        <button type="submit" class="btn btn-custom"><i class="fa fa-file icon"></i> Allocate</button>
                    </form>
                    <hr>
                    <div class="form-row">
                        <div class="form-group" style="width: 60%;">
                            <label for="memoryAddress">Virtual Address:</label>
                            <input type="number" class="form-control" id="memoryAddress" name="memoryAddress" min="0" placeholder="Enter virtual address" th:value="${address}" required>
                        </div>
                        <div class="form-group" style="width: 40%;">
                            <label for="storeData">Data (for store):</label>
                            <input type="number" class="form-control" id="storeData" name="storeData" min="0" placeholder="Enter data" th:value="${storeData}">
                        </div>
                    </div>
                    <div class="form-row mt-2">
                        <div class="computed-size">
                            <p>VPN: <span id="computedVPN">0</span>, Offset: <span id="computedOffset">0</span></p>
                        </div>
                    </div>
                    <div class="form-row mt-2">
                        <div class="col-6 pe-1">
                            <form action="/load" method="post" id="loadForm">
                                <input type="hidden" name="address" id="loadAddressHidden">
                                <button type="submit" class="btn btn-custom w-100"><i class="fa fa-download icon"></i>Load from Memory</button>
                            </form>
                        </div>
                        <div class="col-6 ps-1">
                            <form action="/store" method="post" id="storeForm">
                                <input type="hidden" name="address" id="storeAddressHidden">
                                <input type="hidden" name="storeVPN" id="storeVPNHidden">
                                <input type="hidden" name="storeOffset" id="storeOffsetHidden">
                                <input type="hidden" name="data" id="storeDataHidden">
                                <button type="submit" class="btn btn-custom w-100" id="storeButton" disabled><i class="fa fa-upload icon"></i> Store to Memory</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Memory Tables Section -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4>Page Table</h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered" id="pageTable">
                        <thead>
                        <tr>
                            <th>VPN</th>
                            <th>Valid</th>
                            <th>Dirty</th>
                            <th>Ref</th>
                            <th>PPN</th>
                            <th>Access Time</th>
                            <th>Class</th>
                            <th>Next Access</th>
                        </tr>
                        </thead>
                        <tbody id="pageTableBody">
                        <tr th:each="entry : ${pageTableEntries}">
                            <td th:text="${entry.key}"></td>
                            <td th:text="${entry.value.isValid() ? '1' : '0'}"></td>
                            <td th:text="${entry.value.isDirty() ? '1' : '0'}"></td>
                            <td th:text="${entry.value.isReferenced() ? '1' : '0'}"></td>
                            <td th:text="${entry.value.getFrameNumber()}"></td>
                            <td th:text="${entry.value.getAccessTime()}"></td>
                            <td th:text="${entry.value.getNRUClass()}"></td>
                            <td th:text="${entry.value.getNextAccess()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4>Main Memory</h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered" id="mainMemoryTable">
                        <thead>
                        <tr>
                            <th>Frame</th>
                            <th>Data</th>
                            <th>Physical Address</th>
                        </tr>
                        </thead>
                        <tbody id="physicalMemoryEntries">
                        <tr th:each="entry : ${mainMemory}">
                            <td th:text="${entry.key}"></td>
                            <td>
                                <div th:each="dataEntry : ${entry.value.getContentsWithOffsets()}">
                                    <span th:text="${dataEntry}"></span><br/>
                                </div>
                            </td>
                            <td>
                                <div th:each="dataEntry, iterStat : ${entry.value.getContentsWithOffsets()}">
                                    <span th:text="${entry.key * pageSize + iterStat.index}"></span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4>Secondary Storage</h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered" id="diskTable">
                        <thead>
                        <tr data-vpn="${entry.key}">
                            <th>VPN</th>
                            <th>Data</th>
                            <th>Virtual Address</th>
                        </tr>
                        </thead>
                        <tbody id="diskEntries">
                        <tr th:each="entry : ${diskEntries}">
                            <td th:text="${entry.key}"></td>
                            <td>
                                <div th:each="dataEntry : ${entry.value.getContentsWithOffsets()}">
                                    <span th:text="${dataEntry}"></span><br/>
                                </div>
                            </td>
                            <td>
                                <div th:each="dataEntry, iterStat : ${entry.value.getContentsWithOffsets()}">
                                    <span th:text="${entry.key * pageSize + iterStat.index}"></span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h4>TLB</h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered" id="tlbTable">
                        <thead>
                        <tr>
                            <th>VPN</th>
                            <th>Valid</th>
                            <th>Dirty</th>
                            <th>Ref</th>
                            <th>PPN</th>
                        </tr>
                        </thead>
                        <tbody id="tlbBody">
                        <tr th:each="entry : ${tlbEntries}">
                            <td th:text="${entry.key}"></td>
                            <td th:text="${entry.value.isValid() ? '1' : '0'}"></td>
                            <td th:text="${entry.value.isDirty() ? '1' : '0'}"></td>
                            <td th:text="${entry.value.isReferenced() ? '1' : '0'}"></td>
                            <td th:text="${entry.value.getFrameNumber()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function getVirtualAddressWidth() {
        return parseInt(document.getElementById('virtualAddressWidth').value) || 0;
    }
    function getPageSize() {
        return parseInt(document.getElementById('pageSize').value) || 1;
    }
    function getVirtualMemorySize() {
        const addressWidth = getVirtualAddressWidth();
        return Math.pow(2, addressWidth);
    }
    function isPowerOfTwo(n) {
        return n > 0 && (n & (n - 1)) === 0;
    }

    // function for virtual memory and page table size calculation
    function updateMemoryDetails() {
        const addressWidth = getVirtualAddressWidth();
        const pageSize = getPageSize();

        if (addressWidth && pageSize) {
            const virtualMemorySize = getVirtualMemorySize();
            const pageTableSize = virtualMemorySize / pageSize;

            document.getElementById('virtualMemorySize').innerText = virtualMemorySize.toLocaleString();
            document.getElementById('pageTableSize').innerText = pageTableSize.toLocaleString();
        }
    }
    document.getElementById('pageSize').addEventListener('input', updateMemoryDetails);
    document.getElementById('virtualAddressWidth').addEventListener('input', updateMemoryDetails);

    function validateInputs() {
        const physicalMemorySize = parseInt(document.getElementById('physicalMemorySize').value) || 0;
        const pageSize = getPageSize();
        const diskSize = parseInt(document.getElementById('secondaryMemorySize').value) || 0;

        // Check if Physical Memory Size, Page Size, and Disk Size are powers of 2
        if (!isPowerOfTwo(physicalMemorySize) || !isPowerOfTwo(pageSize) || !isPowerOfTwo(diskSize)) {
            alert("Physical Memory Size, Page Size, and Disk Size must each be a power of 2.");
            return false;
        }
        // Physical Memory Size Check: Must be at least the Page Size
        if (physicalMemorySize < pageSize) {
            alert("Physical Memory Size must be at least as large as the Page Size.");
            return false;
        }
        // Physical Memory Size Check: Should be less than Disk Size
        if (physicalMemorySize >= diskSize) {
            alert("Physical Memory Size should be smaller than Disk Size.");
            return false;
        }
        // Check if Disk Size is at least 2x Physical Memory Size
        if (diskSize < 2 * physicalMemorySize) {
            alert("Disk Size must be at least twice the Physical Memory Size.");
            return false;
        }
        return true;
    }
    // Attach validation to form submission
    document.querySelector('form[action="/configure"]').onsubmit = validateInputs;

    function validateAllocateInput() {
        const allocatePageNumber = parseInt(document.getElementById('allocatePage').value) || 0;
        const pageSize = getPageSize();
        const virtualMemorySize = getVirtualMemorySize();

        if (allocatePageNumber >= (virtualMemorySize / pageSize)) {
            alert("The VPN cannot be greater than the nr of virtual pages.");
            return false;
        }
        return true;
    }

    function validateAddress() {
        const address = parseInt(document.getElementById("memoryAddress").value) || 0;
        const virtualMemorySize = getVirtualMemorySize();
        if(address >= virtualMemorySize) {
            alert("The address must belong to the virtual address space (address between 0 - " + (virtualMemorySize - 1) + ").");
            return false;
        }
        return true;
    }

    // Function to compute VPN and Offset
    function computeAddressDetails() {
        const pageSize = getPageSize();
        const memoryAddress = parseInt(document.getElementById('memoryAddress').value) || 0;
        const storeData = document.getElementById('storeData').value;

        // Compute VPN and Offset
        const vpn = Math.floor(memoryAddress / pageSize);
        const offset = memoryAddress % pageSize;

        // Update VPN and Offset display
        document.getElementById('computedVPN').textContent = vpn;
        document.getElementById('computedOffset').textContent = offset;

        // Prepare hidden inputs for load form
        document.getElementById('loadAddressHidden').value = memoryAddress;

        // Enable/disable store button based on data input
        const storeButton = document.getElementById('storeButton');
        if (storeData >= 0 && storeData.trim() !== '') {
            storeButton.disabled = false;
            // Prepare hidden inputs for store form
            document.getElementById('storeAddressHidden').value = memoryAddress;
            document.getElementById('storeVPNHidden').value = vpn;
            document.getElementById('storeOffsetHidden').value = offset;
            document.getElementById('storeDataHidden').value = storeData;
        } else {
            storeButton.disabled = true;
        }
        // Validate memory address and enable/disable load button
        const loadButton = document.querySelector('form[action="/load"] button[type="submit"]');
        loadButton.disabled = memoryAddress < 0;
    }
    // Add event listeners to address and data inputs
    document.getElementById('memoryAddress').addEventListener('input', computeAddressDetails);
    document.getElementById('storeData').addEventListener('input', computeAddressDetails);
    document.getElementById('pageSize').addEventListener('input', computeAddressDetails);
    // Initial computation on page load
    window.addEventListener('load', computeAddressDetails);

    function logMessage(message) {
        const messageContainer = document.getElementById('simulationMessages');
        const newMessage = document.createElement('p');
        newMessage.innerText = message;
        messageContainer.appendChild(newMessage);
        // Scroll to the bottom of the messages box
        messageContainer.scrollTop = messageContainer.scrollHeight;
        // Hide default message if new messages are added
        const defaultMessage = document.getElementById('defaultMessage');
        if (defaultMessage) {
            defaultMessage.style.display = 'none';
        }
    }

    window.onload = function() {
        const logMessages = /*[[${logMessages}]]*/ []; // Fetch logMessages from the model
        logMessages.forEach(message => {
            logMessage(message);
        });
    };

    function clearHighlights() {
        console.log("Clearing highlights...");
        ['tlbTable', 'pageTable', 'mainMemoryTable', 'diskTable'].forEach(tableId => {
            const table = document.getElementById(tableId);
            if (table) {
                const rows = table.getElementsByTagName('tr');
                for (let row of rows) {
                    row.classList.remove(
                        'highlight-tlb',
                        'highlight-pagetable',
                        'highlight-memory',
                    );
                }
            }
        });
    }

    async function highlightRow(tableId, searchColumn, searchValue, highlightClass) {
        return new Promise((resolve, reject) => {
            console.log(`Highlighting ${tableId} - Column: ${searchColumn}, Value: ${searchValue}, Class: ${highlightClass}`);
            const table = document.getElementById(tableId);

            if (!table) {
                console.error(`Table ${tableId} not found`);
                reject(`Table ${tableId} not found`);
                return;
            }

            const rows = table.getElementsByTagName('tr');
            for (let row of rows) {
                if (row.cells.length > 0 && row.cells[searchColumn]?.textContent == searchValue) {
                    row.classList.add(highlightClass);
                    resolve();
                    return;
                }
            }

            console.error(`No matching row found in ${tableId} for value ${searchValue}`);
            reject(`No matching row found in ${tableId}`);
        });
    }

    async function handleMemoryOperation(address) {
        console.log('Starting handleMemoryOperation with address:', address);
        const pageSize = parseInt(document.getElementById('pageSize').value);
        const vpn = Math.floor(address / pageSize);
        console.log('Calculated VPN:', vpn);

        clearHighlights();
        console.log('Cleared existing highlights');

        // Highlight TLB entry
        console.log('Attempting to highlight TLB entry');
        highlightRow('tlbTable', 0, vpn, 'highlight-tlb');
        await new Promise(resolve => setTimeout(resolve, 500));

        // Highlight page table entry
        console.log('Attempting to highlight page table entry');
        highlightRow('pageTable', 0, vpn, 'highlight-pagetable');
        await new Promise(resolve => setTimeout(resolve, 500));

        // Check page table entry and highlight either memory or disk
        const pageTableRows = document.getElementById('pageTable').getElementsByTagName('tr');
        for (let row of pageTableRows) {
            if (row.cells.length > 0 && row.cells[0].textContent == vpn) {
                const isValid = row.cells[1].textContent === "1";
                const ppn = row.cells[4].textContent;
                if (isValid && ppn !== "") {
                    highlightRow('mainMemoryTable', 0, ppn, 'highlight-memory');
                } else {
                    highlightRow('diskTable', 0, vpn, 'highlight-memory');
                }
                break;
            }
        }
    }

    // Add event listeners for allocate, load and store operations
    document.addEventListener('DOMContentLoaded', function() {
        const loadForm = document.querySelector('form[action="/load"]');
        if (loadForm) {
            loadForm.addEventListener('submit', async function(e) {
                if(!validateAddress())
                    return false;
                e.preventDefault();
                const address = parseInt(document.getElementById('loadAddressHidden').value);
                const vpn = Math.floor(address / getPageSize());
                const tableStates = getTableHighlightStates(vpn);
                saveHighlightState(tableStates);
                await handleMemoryOperation(address);
                this.submit();
            });
        }

        const storeForm = document.querySelector('form[action="/store"]');
        if (storeForm) {
            storeForm.addEventListener('submit', async function(e) {
                if(!validateAddress())
                    return false;
                e.preventDefault();
                const address = parseInt(document.getElementById('storeAddressHidden').value);
                const vpn = Math.floor(address / getPageSize());
                const tableStates = getTableHighlightStates(vpn);
                saveHighlightState(tableStates);
                await handleMemoryOperation(address);
                this.submit();
            });
        }

        const allocateForm = document.querySelector('form[action="/allocate"]');
        if (allocateForm) {
            allocateForm.addEventListener('submit', async function(e){
                if (!validateAllocateInput()) return false;
                e.preventDefault();
                const pageNumber = parseInt(document.getElementById('allocatePage').value);
                clearHighlights();
                highlightRow('pageTable', 0, pageNumber, 'highlight-pagetable');
                const tableStates = getTableHighlightStates(pageNumber);
                saveHighlightState(tableStates);
                this.submit();
            });
        }
    });

    function getTableHighlightStates(vpn, ppn = null) {
        const tableStates = [
            { tableId: 'pageTable', searchColumn: 0, searchValue: vpn, highlightClass: 'highlight-pagetable' },
            { tableId: 'tlbTable', searchColumn: 0, searchValue: vpn, highlightClass: 'highlight-tlb' }
        ];

        const pageTableRows = document.getElementById('pageTable').getElementsByTagName('tr');
        for (let row of pageTableRows) {
            if (row.cells.length > 0 && row.cells[0].textContent == vpn) {
                const isValid = row.cells[1].textContent === "1";
                const foundPpn = ppn || row.cells[4].textContent;

                if (isValid && foundPpn !== "") {
                    tableStates.push({
                        tableId: 'mainMemoryTable',
                        searchColumn: 0,
                        searchValue: foundPpn,
                        highlightClass: 'highlight-memory'
                    });
                } else {
                    tableStates.push({
                        tableId: 'diskTable',
                        searchColumn: 0,
                        searchValue: vpn,
                        highlightClass: 'highlight-memory'
                    });
                }
                break;
            }
        }

        return tableStates;
    }

    function saveHighlightState(tableStates) {
        // `tableStates` is an array of objects, each containing {tableId, searchColumn, searchValue, highlightClass}
        sessionStorage.setItem('highlightStates', JSON.stringify(tableStates));
    }

    function applySavedHighlights() {
        const observer = new MutationObserver((mutationsList, observer) => {
            const states = JSON.parse(sessionStorage.getItem('highlightStates'));
            if (states && Array.isArray(states)) {
                states.forEach(state => {
                    highlightRow(state.tableId, state.searchColumn, state.searchValue, state.highlightClass);
                });
                sessionStorage.removeItem('highlightStates');
            }
            observer.disconnect(); // Stop observing once highlights are applied
        });

        observer.observe(document.body, { childList: true, subtree: true });
    }

    window.addEventListener('load', applySavedHighlights);
    window.addEventListener('store', applySavedHighlights);
    window.addEventListener('allocate', applySavedHighlights);
    window.addEventListener('nextOperation', applySavedHighlights);

    async function executeNextStep() {
        // Disable the button immediately to prevent double-clicks
        const nextStepBtn = document.getElementById('nextStepBtn');
        if (nextStepBtn) {
            nextStepBtn.disabled = true;
        }

        try{
            // Fetch the next operation info
            const response = await fetch('/api/preview-next-operation');
            const preview = await response.json();

            if (preview.completed) {
                console.log('All operations completed');
                if (nextStepBtn) {
                    nextStepBtn.disabled = false;
                }
                return;
            }

            // Clear existing highlights
            clearHighlights();

            const vpn = preview.vpn;
            const operationType = preview.type;
            const address = preview.address;
            const offset = preview.offset;

            if (operationType === "Store") {
                console.log(`Operation: ${operationType}, VPN: ${vpn}, Offset: ${offset}`);
            } else if (operationType === "Load") {
                console.log(`Operation: ${operationType}, Address: ${address}`);
            } else if (operationType === "Allocate") {
                console.log(`Operation: ${operationType}, VPN: ${vpn}`);
            }

            if (vpn !== -1) {
                let tableStates = [];
                if (operationType === "Allocate") {
                    //await highlightRow("pageTable", 0, vpn, "highlight-pagetable");
                    const tableStates = getTableHighlightStates(vpn);
                    saveHighlightState(tableStates);
                } else if (operationType === "Load" || operationType === "Store") {
                    const vpn1 = Math.floor(address / getPageSize());
                    let tableStates = [];
                    if(operationType === "Load") {
                        //await handleMemoryOperation(address);
                        tableStates = getTableHighlightStates(vpn1);
                    }
                    else {
                        //await handleMemoryOperation(vpn * getPageSize() + offset);
                        tableStates = getTableHighlightStates(vpn);
                    }
                    saveHighlightState(tableStates);
                }

            }
            // Add a small delay to ensure highlights are visible before the page reloads
            //await new Promise(resolve => setTimeout(resolve, 200));

            const form = document.querySelector('form[action="/nextOperation"]');
            if (form) {
                form.submit();
            }
        } catch (error) {
            console.error('Error:', error);
            if (nextStepBtn) {
                nextStepBtn.disabled = false;
            }
        }
    }

</script>
</body>
</html>
