<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Memory Simulator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #F8EFF7;
            font-size: 0.9rem;
        }
        .header {
            background-color: #cdb4db;
            color: white;
            padding: 5px 0;
            text-align: center;
        }
        .card-body {
            background-color: #ffafcc;
            color: white;
            padding: 5px 15px;
        }
        .card-header {
            background-color: #cdb4db;
            color: white;
            padding: 5px 15px;
        }
        .btn-custom {
            background-color: #F8EFF7;
            color: #cdb4db;
            border: none;
            padding: 6px 12px;
        }
        .btn-custom:hover {
            background-color: #A88CA4;
        }
        .form-control {
            border-radius: 0.375rem;
            margin-bottom: 0.5rem;
            background-color: #ffe5ec;
            color: #A88CA4;
            font-size: 0.9rem;
        }
        .container {
            margin-top: 20px;
        }
        .result-list li {
            font-size: 1rem;
            margin-bottom: 0.4rem;
            background-color: #ffe5ec;
            color: #A88CA4;
        }
        .icon {
            font-size: 18px;
            margin-right: 10px;
        }
        .computed-size {
            font-size: 1rem;
            font-weight: normal;
            align-self: center;
            margin-left: 1rem;
        }
        .form-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
        }
        .form-group {
            width: 45%;
        }
        .result-list li span {
            font-weight: bold;
        }
        .row {
            display: flex;
        }
        .col-md-4 {
            margin-bottom: 20px;
        }
        .table thead th {
            text-align: center;
            padding: 5px 15px;
        }
        .table td, .table th {
            padding: 0.5rem;
            text-align: center;
            color: white;
        }
    </style>
</head>
<body>
<div class="header"> <h1>Virtual Memory Simulator</h1></div>
<div class="container">
    <div class="row">
        <!-- Configuration Form Column -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-header"> <h4>System Parameters Configuration</h4> </div>
                <div class="card-body">
                    <form action="/configure" method="post">
                        <div class="form-row">
                            <div class="form-group">
                                <label for="virtualAddressWidth">Virtual Address Width (bits):</label>
                                <input type="number" class="form-control" id="virtualAddressWidth" name="virtualAddressWidth" min="1" placeholder="Enter virtual address width"  th:value="${virtualAddressWidth}" required>
                            </div>
                            <div class="form-group">
                                <label for="physicalMemorySize">Physical Memory Size (bytes):</label>
                                <input type="number" class="form-control" id="physicalMemorySize" min="1" placeholder="Enter main memory size"  name="physicalMemorySize" th:value="${physicalMemorySize}" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="pageSize">Page Size (bytes):</label>
                                <input type="number" class="form-control" id="pageSize" name="pageSize" min="1" placeholder="Enter page size" th:value="${pageSize}" required>
                            </div>
                            <div class="form-group">
                                <label for="tlbSize">TLB Size (entries):</label>
                                <input type="number" class="form-control" id="tlbSize" min="1" placeholder="Enter tlb size" name="tlbSize" th:value="${tlbSize}" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="replacementAlgorithm">Replacement Algorithm:</label>
                                <select class="form-control" id="replacementAlgorithm" name="replacementAlgorithm" th:value="${replacementAlgorithm}" required>
                                    <option value="FIFO">FIFO (First In, First Out)</option>
                                    <option value="LRU">LRU (Least Recently Used)</option>
                                    <option value="NRU">NRU (Not Recently Used)</option>
                                    <option value="Optimal">Optimal</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="secondaryMemorySize">Disk Size (bytes):</label>
                                <input type="number" class="form-control" id="secondaryMemorySize" min="1" placeholder="Enter disk size" name="secondaryMemorySize" th:value="${secondaryMemorySize}" required>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="computed-size">
                                <p>Virtual Memory Size: <span id="virtualMemorySize" th:text="${virtualMemorySize}">0</span> bytes</p>
                                <p>Page Table Size: <span id="pageTableSize" th:text="${pageTableSize}">0</span> entries</p>
                            </div>
                        </div>
                        <button type="submit" formaction="/configure" class="btn btn-custom"><i class="fa fa-cogs icon"></i> Configure</button>
                        <button type="submit" formaction="/reset" class="btn btn-custom"><i class="fa fa-refresh icon"></i> Reset</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Store and Load Address Column -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-header"><h4>Store and Load Address</h4></div>
                <div class="card-body">
                    <form action="/allocate" method="post">
                        <div class="form-group">
                            <label for="allocatePage">Allocate Virtual Page at VPN:</label>
                            <input type="number" class="form-control" id="allocatePage" name="allocatePage" placeholder="Enter page number" th:value="${allocatePage}" min="0" required>
                        </div>
                        <button type="submit" class="btn btn-custom"><i class="fa fa-file icon"></i> Allocate</button>
                    </form>
                    <hr>
                    <form action="/load" method="post">
                        <div class="form-group">
                            <label for="loadAddress">Read from Virtual Address:</label>
                            <input type="number" class="form-control" id="loadAddress" name="loadAddress" min="0" placeholder="Enter page number" th:value="${loadAddress}" required>
                        </div>
                        <button type="submit" class="btn btn-custom"><i class="fa fa-download icon"></i> Load</button>
                    </form>
                    <hr>
                    <form action="/store" method="post">
                        <div class="form-row">
                            <div class="form-group">
                                <label for="storeVPN">Write to Virtual Page:</label>
                                <input type="number" class="form-control" id="storeVPN" name="storeVPN" min="0" placeholder="Enter page number"  th:value="${storeVPN}" required>
                            </div>
                            <div class="form-group">
                                <label for="storeOffset">Write to Offset:</label>
                                <input type="number" class="form-control" id="storeOffset" name="storeOffset" min="0" placeholder="Enter offset"  th:value="${storeOffset}" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="data">Enter Data to Store:</label>
                            <input type="number" class="form-control" id="data" name="data" min="0" placeholder="Enter data to store" th:value="${storeData}" required>
                        </div>
                        <button type="submit" class="btn btn-custom"><i class="fa fa-upload icon"></i> Store</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Simulation Results Column -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-header"><h4>Simulation Results</h4></div>
                <div class="card-body">
                    <ul class="list-group result-list">
                        <li class="list-group-item">TLB Hit Rate: <span th:text="${tlbHit}"></span></li>
                        <li class="list-group-item">TLB Miss Rate: <span th:text="${tlbMiss}"></span></li>
                        <li class="list-group-item">Page Table Hit Rate: <span th:text="${pageTableHit}"></span></li>
                        <li class="list-group-item">Page Table Miss Rate: <span th:text="${pageTableMiss}"></span></li>
                        <li class="list-group-item">Disk Reads: <span th:text="${diskRead}"></span></li>
                        <li class="list-group-item">Disk Writes: <span th:text="${diskWrite}"></span></li>
                        <li class="list-group-item">Pages Evicted: <span th:text="${pageEviction}"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Memory Tables Section -->
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h4>TLB</h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>VPN</th>
                            <th>Valid</th>
                            <th>Dirty</th>
                            <th>Ref</th>
                            <th>PPN</th>
                        </tr>
                        </thead>
                        <tbody id="tlbBody">
                            <tr th:each="entry : ${tlbEntries}">
                                <td th:text="${entry.vpn}"></td>
                                <td th:text="${entry.valid ? '1' : '0'}"></td>
                                <td th:text="${entry.dirty ? '1' : '0'}"></td>
                                <td th:text="${entry.ref ? '1' : '0'}"></td>
                                <td th:text="${entry.ppn}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h4>Physical Memory</h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Frame</th>
                            <th>Data</th>
                        </tr>
                        </thead>
                        <tbody id="physicalMemoryBody">
                        <tr th:each="entry : ${physicalMemoryEntries}">
                            <td th:text="${entry.frame}"></td>
                            <td th:text="${entry.data}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h4>Virtual Memory</h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered virtual-memory-table">
                        <thead>
                        <tr>
                            <th>VPN</th>
                            <th>Data</th>
                            <th>Allocated</th>
                        </tr>
                        </thead>
                        <tbody id="virtualMemoryBody">
                        <tr th:each="entry : ${virtualMemoryEntries}">
                            <td th:text="${entry.vpn}"></td>
                            <td th:text="${entry.data}"></td>
                            <td th:text="${entry.allocated ? 'Yes' : 'No'}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h4>Disk</h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered disk-table">
                        <thead>
                        <tr>
                            <th>VPN</th>
                            <th>Data</th>
                        </tr>
                        </thead>
                        <tbody id="diskBody">
                        <tr th:each="entry : ${diskEntries}">
                            <td th:text="${entry.block}"></td>
                            <td th:text="${entry.data}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h4>Page Table</h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>VPN</th>
                            <th>Valid</th>
                            <th>Dirty</th>
                            <th>Ref</th>
                            <th>PPN</th>
                        </tr>
                        </thead>
                        <tbody id="pageTableBody">
                        <tr th:each="entry : ${pageTableEntries}">
                            <td th:text="${entrypt.vpn}"></td>
                            <td th:text="${entrypt.valid ? '1' : '0'}"></td>
                            <td th:text="${entrypt.dirty ? '1' : '0'}"></td>
                            <td th:text="${entrypt.ref ? '1' : '0'}"></td>
                            <td th:text="${entrypt.ppn}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

<script>
    function getVirtualAddressWidth() {
        return parseInt(document.getElementById('virtualAddressWidth').value) || 0;
    }
    function getVirtualMemorySize() {
        const addressWidth = getVirtualAddressWidth();
        return Math.pow(2, addressWidth);
    }
    function isPowerOfTwo(n) {
        return n > 0 && (n & (n - 1)) === 0;
    }

    // function for virtual memory and page table size calculation
    function updateMemoryDetails() {
        const addressWidth = getVirtualAddressWidth();
        const pageSize = parseInt(document.getElementById('pageSize').value) || 1;

        if (addressWidth && pageSize) {
            const virtualMemorySize = getVirtualMemorySize();
            const pageTableSize = virtualMemorySize / pageSize;

            document.getElementById('virtualMemorySize').innerText = virtualMemorySize.toLocaleString();
            document.getElementById('pageTableSize').innerText = pageTableSize.toLocaleString();
        }
    }
    document.getElementById('pageSize').addEventListener('input', updateMemoryDetails);
    document.getElementById('virtualAddressWidth').addEventListener('input', updateMemoryDetails);

    function validateInputs() {
        const physicalMemorySize = parseInt(document.getElementById('physicalMemorySize').value) || 0;
        const pageSize = parseInt(document.getElementById('pageSize').value) || 0;
        const diskSize = parseInt(document.getElementById('secondaryMemorySize').value) || 0;

        // Check if Physical Memory Size, Page Size, and Disk Size are powers of 2
        if (!isPowerOfTwo(physicalMemorySize) || !isPowerOfTwo(pageSize) || !isPowerOfTwo(diskSize)) {
            alert("Physical Memory Size, Page Size, and Disk Size must each be a power of 2.");
            return false;
        }
        // Physical Memory Size Check: Must be at least the Page Size
        if (physicalMemorySize < pageSize) {
            alert("Physical Memory Size must be at least as large as the Page Size.");
            return false;
        }
        // Physical Memory Size Check: Should be less than Disk Size
        if (physicalMemorySize >= diskSize) {
            alert("Physical Memory Size should be smaller than Disk Size.");
            return false;
        }
        // Check if Disk Size is at least 2x Physical Memory Size
        if (diskSize < 2 * physicalMemorySize) {
            alert("Disk Size must be at least twice the Physical Memory Size.");
            return false;
        }
        return true;
    }
    // Attach validation to form submission
    document.querySelector('form[action="/configure"]').onsubmit = validateInputs;

    function validateAllocateInput() {
        const allocatePageNumber = parseInt(document.getElementById('allocatePage').value) || 0;
        const pageSize = parseInt(document.getElementById('pageSize').value) || 0;
        const virtualMemorySize = getVirtualMemorySize();

        if (allocatePageNumber >= (virtualMemorySize / pageSize)) {
            alert("The VPN cannot be greater than the nr of virtual pages.");
            return false;
        }
        return true;
    }
    document.querySelector('form[action="/allocate"]').onsubmit = validateAllocateInput;

    function validateReadInput() {
        const loadAddress = parseInt(document.getElementById('loadAddress').value) || 0;
        const virtualMemorySize = getVirtualMemorySize();

        // Check if the address to be loaded from the memory is valid
        if (loadAddress >= virtualMemorySize) {
            alert("The requested address does not exist! The address must be between 0 and " + (virtualMemorySize - 1));
            return false;
        }
        return true;
    }
    document.querySelector('form[action="/load"]').onsubmit = validateReadInput;
    function validateStoreInputs() {
        const pageSize = parseInt(document.getElementById('pageSize').value) || 0;
        const storeVpn = parseInt(document.getElementById("storeVPN").value) || 0;
        const storeOffset = parseInt(document.getElementById("storeOffset").value) || 0;
        const virtualMemorySize = getVirtualMemorySize();
        // Check if the write address is valid
        if (storeVpn >= (virtualMemorySize / pageSize)) {
            alert("The VPN cannot be greater than the nr of virtual pages.");
            return false;
        }
        if (storeOffset >= pageSize) {
            alert("The offset cannot be greater than the page size.");
            return false;
        }
        return true;
    }
    document.querySelector('form[action="/store"]').onsubmit = validateStoreInputs;

    setInterval(() => {
        fetch('/memoryData')
            .then(response => response.json())
            .then(data => {
                // Update TLB
                const tlbBody = document.getElementById('tlbBody');
                tlbBody.innerHTML = '';
                data.tlbEntries.forEach(entry => {
                    tlbBody.innerHTML += `<tr>
                    <td>${entry.vpn}</td>
                    <td>${entry.valid ? '1' : '0'}</td>
                    <td>${entry.dirty ? '1' : '0'}</td>
                    <td>${entry.ref ? '1' : '0'}</td>
                    <td>${entry.ppn}</td>
                </tr>`;
                });

                // Update Physical Memory
                const physicalMemoryBody = document.getElementById('physicalMemoryBody');
                physicalMemoryBody.innerHTML = '';
                data.physicalMemoryEntries.forEach(entry => {
                    physicalMemoryBody.innerHTML += `<tr>
                    <td>${entry.frame}</td>
                    <td>${entry.data}</td>
                </tr>`;
                });

                // Update Virtual Memory
                const virtualMemoryBody = document.getElementById('virtualMemoryBody');
                virtualMemoryBody.innerHTML = '';
                data.virtualMemoryEntries.forEach(entry => {
                    virtualMemoryBody.innerHTML += `<tr>
                    <td>${entry.vpn}</td>
                    <td>${entry.data}</td>
                    <td>${entry.allocated ? 'Yes' : 'No'}</td>
                </tr>`;
                });

                // Update Disk
                const diskBody = document.getElementById('diskBody');
                diskBody.innerHTML = '';
                data.diskEntries.forEach(entry => {
                    diskBody.innerHTML += `<tr>
                    <td>${entry.block}</td>
                    <td>${entry.data}</td>
                </tr>`;
                });

                // Update Page Table
                const pageTableBody = document.getElementById('pageTableBody');
                pageTableBody.innerHTML = '';
                data.pageTableEntries.forEach(entry => {
                    pageTableBody.innerHTML += `<tr>
                    <td>${entry.vpn}</td>
                    <td>${entry.valid ? '1' : '0'}</td>
                    <td>${entry.dirty ? '1' : '0'}</td>
                    <td>${entry.ref ? '1' : '0'}</td>
                    <td>${entry.ppn}</td>
                </tr>`;
                });
            })
            .catch(error => console.error('Error fetching memory data:', error));
    }, 5000); // Refresh every 5 seconds
</script>
</body>
</html>
